<style>
  ul,
  li {
    display: inline-block;
    padding: 1em;
    margin: auto;

  }

</style>
<!-- Toolbar -->
<div class="toolbar" role="banner">
  <ul>
    <li>
      <h3>
        <span><a routerLink="/login">Login</a></span>
      </h3>
    </li>
    <li>
      <h3>
        <span><a routerLink="/register">Register</a></span>
      </h3>
    </li>
  </ul>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>
